body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}
.setup {
  height: 100%;
  padding: 20px;
  color: white;
  background: #2185D0;
}
.setup h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
.setup input {
  text-align: center;
}
.setup p {
  text-align: center;
}
.setup-img {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
}
.setup-submit {
  width: 100%!important;
  display: block;
}
.setup-submit-content {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.setup-loading {
  padding-top: 100px;
}
.preferences {
  height: 100%;
  padding: 20px;
}
